*{
    padding:0;
    margin: 0;
    font-family: 'Montserrat' ;
}
.container{

}
.hexagon {
    background-color: #18cfab;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    width: 58px;
    height: 67px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}.h{
    font-size: 40px;
 }

.logo_text_container{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo-text1{
    margin-left: 5px;
    text-decoration: none;
    color:white ;
    font-size: 15.4281px;


}
.logo-text2 {
    color: #18cfab;
    display: inline-block;
    margin-right: 200px;
    font-size: 15.4281px;
 }
.navigation-link{
    color:white;
    display: inline-block;
    margin-left: 15px;
    text-decoration: none;
    font-size: 13px;
    padding-top: 55px;
}
.navigation-link:hover{
    border-bottom: 1px solid #18cfab;
}
.section1{
    background: url("../img/section-1(header).jpg");
    background-size: cover;


    height: 100%;
}
.navigation{

    justify-content: center;
    display: flex;
    background: rgba(0,0,0,0.5);

    height: 120px;

}
.title-div{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 200px;


}
.upper-title{
    color: white;
    font-size: 35px;
    font-weight: 400;

}
.upper-title1{
    font-size: 35px;
    color: #18cfab;
    font-weight: 400;

}
.title{
    color: #ffffff;
    font-weight: 700;
    font-size: 69px;
    margin:0 auto ;


}
.lower-title{
    color: #ffffff;
    font-weight: 100;
    font-size: 29px;
}
.buttons {
    display: flex;
    align-items: center;
    height: 300px;

}
.button{

    font-size: 12.6px;
    color: white;
    margin-left: 30px;
    width: 160px;
    height: 60px;
    background: #18cfab;
    border-radius: 5px;
    border-bottom: #18cfab;
    border-left: #18cfab;
    border-right: #18cfab;
    border-top-width: 5px;
    background-size: 166px 81px;
}
.part{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.part1{
    background: #1c2a33;
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 374px;
    justify-content: center;
    align-items: center;

}

.part1-text{
    color: #18cfab;
    font-size: 20px ;

}
.b{
    background: #18cfab;

}
.part2-text{
    color: #ffffff;
    font-size: 20px ;
}
.c{
    background-color: #1c2a33;
 }
.part3-text{
    color: #18cfab;
    font-size: 20px ;
}
.d{
      background-color: #18cfab;
}
.part4-text{
    color: #ffffff;
    font-size: 20px ;
}
ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;

}
.tabs-content{
    display: flex;
    justify-content: center;
    width: 1165px;
    flex-direction: row;

}
.tabs-img{
margin-right: 20px;
}
.tabs-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 31px;
    padding: 20px;
    background-color: #f8fcfe;
    color: #7d7d7d;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #ebebeb;
    flex-direction: row;

}

.tabs-title.active {
    background-color:#18cfab ;
    color: #ffffff;

}

[data-tab-content].active {
    display: block;
}

[data-tab-content]{
    display: none;
}
.section2-title{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pseudo{
    border-top: 1px solid #18cfab;
    width: 76px;
    height: 3px;
    border-bottom: 1px solid #18cfab;
    transform: skew(60deg);
}
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search{
 padding-top: 50px;

}
.fa{
    margin-left: 10px;
    color: white;
}
.container2{
    width: 100%;
    height: 476px;
    background:url("../img/section-2.jpg") ;
    background-size: cover;

}
.container2-div{
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 476px;
}
.h1{
 font-size: 40px;
    margin-top: 128px;
    color: #18cfab;
}
.h4{
    font-size: 16px;
    margin-top: 35px;
    color: #ffffff;
    font-weight: lighter;
}
.button1{
    font-size: 12px;
    margin-top: 76px;
    width: 165px;
    height: 61px;
    background-color: #18cfab;
    border-radius: 5px;
    border-bottom:#18cfab ;
    border-left: #18cfab;
    border-right: #18cfab;
    color: white;

}
ul {
    list-style: none;
    padding-left: 0;
}

.centered-content1 {
    height: 50vh;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs1 {
    display: flex;

}
.tabs-content1{
    display: flex;
    justify-content: center;
    width: 1165px;
    flex-direction: row;

}


.tabs-title1.active {
    background-color:#18cfab ;
    color: #ffffff;

}

[data-tab-content1].active {
    display: block;
}

[data-tab-content1]{
    display: none;
}

.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filterList {
    display: flex;
    margin-bottom: 70px;
}

.container3-title {
    position: relative;
    font-size: 36px;
    padding: 100px 0;
}

.container3-title::after {
    content: '';
    display: block;
    position: absolute;
    border-bottom: 1px solid #18cfab;
    transform: skewX(70deg);
    bottom: 28%;
    left: calc(50% - 77px / 2);
    width: 75px;
    height: 4px;
    border-top: 1px solid #18cfab;
}

.filterList-item {
    display: flex;
    padding: 22px;
    border: 1px solid #ebebeb;
    color: #717171;
    user-select: none;
}

.container-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: calc(100% - 3px);
    width: 100%;
    background-color: #fff;
    border-top: 3px solid #18cfab;
    top: 0;
    left: 0;
}

.filterList-item-active {
    border-top: 2px solid #18cfab;
    padding: 21px 22px;
}

.filterList-gallery {
    display: flex;
    justify-content: center;
    width: 1142px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.list-item {
    position: relative;
    height: 207px;
}

.list-title {
    font-size: 20px;
    color: #18cfab;
    font-weight: bold;
    margin-bottom: 14px;
}

.list-category {
    color: #8a8a8a;
}

.hover-link-container {
    display: inline-block;
    padding: 14px 14px 11px 14px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    margin: 37px 5px 24px 0
}

.hover-search-container {
    display: inline-block;
    padding: 14px 14px 11px 14px;
    border: 1px solid #18cfab;
    border-radius: 50%;
}

.hover-img-search {
    background: url("../img/search.png");
}

.hover-link-container:hover {
    background-color: #18cfab;
}

.hover-link-container:hover > .hover-img-link {
    background: url("../img/link-hover.png");
}

.hover-search-container:hover {
    background-color: #18cfab;
}

.hover-search-container:hover > .hover-img-search {
    background: url("../img/search-hover.png");
}

.hover-img {
    display: inline-block;
    width: 16px;
    background: url("../img/link.png");
}

.load-button {
    padding: 25px;
    margin-top: 150px;
    background-color: #18cfab;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    border: none;
}

.load-button > img {
    margin-right: 16px;
}

.load-button {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}


.footer-text{
    color: #aeaeae;
}
.footer-span{
    color: #18cfab;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid #aeaeae;
}
.footer{
    margin-top: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 108px;
    background-color: #22353f;
}
.img-text-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
